 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* .con1{
    top: 0;
    display: flex;
      justify-content: space-between;  
     align-items: center;
    color: white;
    text-decoration: none;
     background-color: slategray; 
    position: fixed;
     z-index: 1;
   width: 100%;
   box-shadow: 0 2% 5%; 
} 
.item1{
    display: flex;   
  
    justify-content: start;
} */

.con1{
    display: flex;
    background-color: yellowgreen;
     position: fixed;
     justify-content: space-around;
    z-index: 1; 
    width: 100vw;
}
.item1{
    display: flex;
    gap: 10%;
}
.it{
    color: white;
    align-items: center;
    display: flex;
    display: none; 
}
.t{
    gap: 15%;
    display: flex;
}
.item2{

    display: flex;
}

 a #list{
    text-decoration: none;
    color: white;
    display: none;
}
 @media  screen and (max-width:600px) {
    .item2{
        display: none;
       
    }
} 
@media  screen and (max-width:600px) {
    .icon{
        display: block;
    }
    
}
 
.item2{
    justify-content: end;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 8%;
}
.res1 a,.res a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.item2 a{
   text-decoration: none;
    color: white;
}
.images a{
    text-decoration: none;
    color: white;
}
.con2{
    position: relative;
}
.logo{
    border: 2px solid;
     height: 100vh; 
}
.logo img{
   width: 100%;
  height: 100%;  
} 
.item3{
    animation-name: item;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
 .img1{
    margin-left: 2.6%;
   width: 5%;
   height: 5%; 
} 
.i h3{
    color: yellow;
    font-size: 2rem;
    gap: 0;
      animation-name: i;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    opacity: 1; 
}
.i h1{
    animation: res 5s ease 1;
}
.i h2{
    animation: dish 5s ease 1;
}
.i h3{
    animation: pre 5s ease 1;
}
    @keyframes pre {
    from{
       opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes res {
    from{
        transform: translate(-250%);
    }
    to{
        transform: translate(0);
    }
    
}
@keyframes dish {
    from{
        transform: translate(250%);
    }
    to{
        transform: translate(0);
    }
    
}
.i{
     top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
     height: 100vh;
     width: 98vw;    
    justify-content: center;
    text-align-last: center;
    align-items: center;
     /* border: 3px solid red; */
   
}

  .img5{
    animation-name: item;
     animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.res2{
    animation-name: item1;
     animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
}  
 
  @keyframes item {
    from{
        transform: translate(-500px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes item1 {
    from{
        transform: translate(600px);
    }
    to{
        transform: translate(0px);
    }
}  
/* @keyframes i{
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
} */
.img1{
    animation-name: mango;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    
}
@keyframes  mango {
    from{
        transform: translateY(-800px);
    }
    to{
        transform: translatey(10px);
    }
}
@media screen and (max-width:600px) {
    .con4{
        display: block;
    }
}
.item5,.slate{
    display: flex;
   justify-content: center;
   align-items: center;
}
.item5{
    margin-top: 4%;
}
.item5 p{
    top: 0;
    color: black;
    font-size: 2rem;
}

.con4{
    display: flex;
    justify-content: center;
    justify-content: space-around;
     padding-top: 8%;
     gap: 5%;
    padding-left: 20%;
    padding-right: 20%; 
}
.img3>img,.img2>img,.img4>img{
    width: 80%;
}
.img2>p{
    margin-top: 5%;
}

.img2{
    animation-name: img;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.img3{
    animation-name: img1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
.img4{
    animation-name: img2;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
@keyframes img {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
    
}
@keyframes img1 {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    }
    
}
@keyframes img2 {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
    
}
.img3,.img4{
     gap: 5%; 
    display: flex;
    flex-direction: column;
}
.img2{
     gap: 5%; 
    display: flex;
    flex-direction: column;
}

.con5{
    margin-top: 7%;
    display: flex;
    gap: 5%;
}
.img5{
    height: 70vh; 
    width: 70vw;
    /* border: 2px solid gray; */
}
 .img5 img{
    width: 100%;
    height: 100%;
} 
.res{
    gap: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.res a{
    font-size: 3rem;
}
.con6{
    margin-top: 5%;
   display: flex;
   gap: 20%;
}
 .res2 img{
    height: 100%;
    width: 100%;
} 
.res1{

   display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15%;
   
}
.con7{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.res3{
     display: flex;
       gap:5%; 
    justify-content: center;
    justify-content: space-around;
     padding: 10%;
}
.img6>img,.img7>img,.img8>img,.img9>img{
    width: 80%;
} 
.img6,.img7,.img8,.img9{
    gap: 2%;
     display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;

}
.img7>p{
    margin-top: 2%;
}
@keyframes img1 {
    from{
        opacity: 0;
        transform: translate(100px);
    }
    to{
        transform: translate(10px);
    }
}


@keyframes c {
    from{
        transform: translate(-500px);
    }
    to{
        transform: translate(0);
    }
}

@keyframes c1 {
    from{
        transform: translate(900px);
    }
    to{
        transform: translate(0);
    }
}
.menucard a{
    text-decoration: none;
    color: black;
}
.menu{
    margin-top: 5%;
    position: relative;
}
.con8{
    height: 70vh;
    /* border: 2px solid red; */
}
.img10{
    margin-top: 10%;
    height: 70vh; 
     /* border: 2px solid red; */
}
.con8 img{
    width: 100%;
    height: 100%;
}
 .img10 img{
  width: 100%;
  height: 100%;
} 


.menucard{
    animation:menu 5s ease 1;
    position: absolute;
      top: 10%;   
     left: 20%;
     width: 70%; 
     height: 130vh;
    /* gap: 5%; */
  background-color:white;
      padding-top: 2vh;  
      padding-left: 5vw;
      padding-right: 5vw;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 @keyframes menu {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(0);
    } 
}
 .sm{
    display: flex;
    justify-content: space-between;
}
.starters{
    margin-top: 7%;
     width: 45%; 
}
.mains{
    margin-top: 7%;
    width: 45%;
} 
.i2{
    margin-top: 13%;
     gap: 4%;  
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: 20%;
    margin-top: 5%; 
}
.menu hr{
    color: grey;
   
} 
.customer{
    height: 50vh; 
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
}
.mySlides{
  /* border: 2px solid; */
  border-radius: 50%;
    width: 40%;
    height: 20%;
}
.customer{
     height: 60vh;
    
}
.form{
    position: relative;
   display: flex;
   flex-direction: column;
   height: 80vh;
  
   
}
.form img{
    height: 100%;
}
.name,.email,.date,.book{
    color: slategrey;
    display: flex;
    justify-content: space-around;
} 
.details{
    animation-name: details;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-iteration-count: 1;
    top: 10%;
    left: 25%;
    position: absolute;
    background-color: white;
    height: 60vh;
    display: flex;
    flex-direction: column; 
     width: 60vw; 
     gap: 10%;
    /* border: 2px solid green; */
    border-radius: 3%;
}
@keyframes details {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translatY(0);
    }
    
}
.details input,#persons{
    border: none;
    /* border-bottom: 2px solid silver; */
    width: 30%; 
}
.date{
    color: slategrey;
}
.book a{
    text-decoration: none;
    color: black;
}
.map{
     /* height: 60vh;   */
     display: flex;  
    /* width: 100%; */
     gap: 20%; 
}
.add{
    align-items: center;
}
.map1{
    animation: map1 5s ease 1;
    display: flex;
     gap: 10%;  
    padding-top: 2%;
     flex-direction: column; 
      width: 100%;   
}
@keyframes map1 {
    from{
        transform: translate(-500px);
    }
    to{
        transform: translate(0);
    }
    
}
.day{
    margin-left: 30%;
    align-items: center;
    font-size: 1rem;
    display: flex;
    gap: 10%;
}  
.day1{
    margin-left: 30%;
    text-align: center;
    font-size: 1rem;
     display: flex;
    gap: 13%;
}
.day2{
    margin-left: 30%;
    font-size: 1rem;
    display: flex;
    gap: 25%;
}
.address{
    gap: 5%;
    text-align: center;

}
 .customer{

 }
 .slideshow-container{
    margin-top: 2%;
     height: 20vh;
    width: 10vw; 
    z-index: 1;
 }
 .slide{
   
    display: none;
 }
 .slide img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

 }
  #second>img{
    height: 15vh;
    width: 10vw;
 }
 .active{
    display: block;
 }
 .nav-buttons {
    z-index: 1;

 }
 
  .nav-buttons button{
     cursor: pointer; 
 }
 .map2{
    animation:map2 5s ease 1;
    /* box-shadow: 1px 1px 10px 0px; */
     height: 60vh; 
      width: 100%;  
  
} 
@keyframes map2 {
    from{
        transform: translate(600px);
    }
    to{
        transform: translate(0);
    }
}
      
iframe{
    width: 100%;
  height: 100%;
  
}
.footer{
    text-align: center;
    z-index: 1;
    align-items: center;
    display: flex;
    background-color:black;
    justify-content: space-around;
}
.foot {
    display: flex;
    gap: 30%;
    color: white;
    align-items: center;
}
.footer p{
    color: white;
}
.foot a{
    text-decoration: none;
    color: white;
}
    @media screen and  (max-width: 600px){
       .con4,.con5,.con6,.res3,.map{
        display: block;
       }
       .item2{
        display: none;
       }
      

.bi-list{
    font-size: 3rem;
}
#m:checked ~ .item2{
    display: block;
    margin-top: 3%;
    
}
  #m{
    display: none;
}   
.t{
    display: none;
}

   }

       @media screen and  (min-width:1025px){
        #m{
            display: none;
        }
        .bi-list{
            display: none;
        }
       }



